nav{
    margin-top: 15px;
}
nav>*>*{
    padding: 5px 30px;
    border-radius: 10px;
    border: 1px solid greenyellow;
}

nav>*{
    margin: 10px 2px;

}
.menu-icon{
    width: 20px;
    cursor: pointer;
}
.trans{
    display: block;
    transition: 2s;
}